.navbar{
    display: flex;
    align-items: center;
    gap:10px;
    padding: 0px 20px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    height:50px;
    background-color: white;
}

.home-link{
    display: flex;
    align-items: center;
}
.shop-link{
    margin-left:auto;
}

a{
    text-decoration: none;
    color:black;
}

.nav-link:hover{
    color: rgb(193, 12, 12);
}