.homepage{
    display: flex;
    flex-direction: column;
    text-align: center;
    height:100vh;
}

.title-container{
    height:20px;
    margin:0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left{
    flex:1;
}

h1{
    font-size: 2.3rem;
    margin:0;
}
h3{
    margin:3px;
}

.container-row{
    display: flex; 
    padding: 20px;
    margin-top: 70px;
}

.shoe-img {
    transform: rotate(-20deg);
  }

.shop-now-btn{
    font-size: 1.3rem;
    width:90px;
    height:40px;
    margin-top:10px;
    background-color: black;
    padding: 8px 50px;
    border:none;
    border-radius: 20px;
    color:white;
}

.shop-now-btn:hover{
    color: rgb(33, 32, 32);
    background-color:rgb(193, 12, 12);
}


@media  only screen and (max-width: 700px) {
    .container-row{
        flex-direction: column;
    }
    .homepage{
        width:100vw;
        padding: 0;
    }

    .shoe-img{
        width:300px;
    }
}