.homepage{
    display: flex;
    flex-direction: column;
    text-align: center;

}

.title-container{
    height:20px;
    margin:0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.left{
    flex:1;
}

h1{
    font-size: 2.3rem;
    margin:0;
}
h3{
    margin:3px;
}

.container-row{
    display: flex; 
    padding: 20px;
}

.shoe-img {
    transform: rotate(-20deg);
  }

.shop-now-btn{
    font-size: 1.3rem;
    width:90px;
    height:40px;
    margin-top:10px;
    background-color: black;
    padding: 8px 50px;
    border:none;
    border-radius: 20px;
    color:white;
    border: 2px solid  black;
}

.shop-now-btn:hover{
    color: rgb(33, 32, 32);
    background-color:rgb(193, 12, 12);
    border: 2px solid  rgb(246, 245, 245);
}

.red-square{
    width: 500px;
    height: 500px;
    background-color: rgb(193, 12, 12);
    position:absolute;
    z-index: -90;
    rotate: 45deg;
    border-radius: 100px;
}
.num1{
    left:-300px;
    bottom:150px;
}
.num2{    
    width: 250px;
    height: 250px;
    rotate: 45deg;
    right:-150px;
    bottom:100px;
    border-radius: 70px;
}

.num3{
    width: 150px;
    height: 150px;
    rotate: 60deg;
    right:-99px;
    bottom:350px;
    border-radius: 40px;
}

@media  only screen and (max-width: 700px) {
    .container-row{
        flex-direction: column;
    }
    .homepage{
        width:100vw;
        padding: 0;
    }

    .shoe-img{
        width:300px;
    }
}