.shopping-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:30px;
}

.cart{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding:30px 0px;
}

.cart-items{
    overflow: scroll;
    height:500px;
}

.cart-item, 
.titles{
    display: flex;
    justify-content: space-between;
    width: 650px;
    align-items: center;
    background-color: white;
    margin:20px;
    border-bottom: 1px solid rgb(190, 186, 186); 
}

.cart-item button{
    border:none;
    color:white;
    background-color: black;
    border-radius: 100%;
    margin:3px;

}
.item-description{
    margin-left:150px;
    margin-right:100px;
}

.item-name{
    width:200px;
}
.titles{
    justify-content: space-around;
}
.cart-item img {
    width: 150px;
}

.total{
    margin-left:auto;
    margin-right:20px;
}

.buttons{
    margin-left:auto;
    margin-right:20px;
}

.buttons button{
    border:none;
    color:white;
    background-color: black;
    padding:4px 15px;
    font-weight: bold;
}

.buttons button:hover,
.cart-item button:hover{
    background-color: rgb(193, 12, 12);
    color:black;
}


@media  only screen and (max-width: 700px) {
    .cart{
        width: 100vw;
        padding:0;
        padding-bottom:10px;
        height:70vh;
    }

    .cart-item,     
    .titles{
        width: 99vw;
        font-size: 0.6rem;
        margin:2px;
        justify-content:baseline;
        gap:2px;
    
    }

    .quantity{
        margin:10px;
    }

    .cart-item img{
        width:15vw;
    }

    .item-description{
        width:max-content;
        margin-left:20vw;
    }


}