.shop{
    text-align: center;
    margin-bottom:20px;
    height:85vh;
    overflow: scroll;
}

.category{
    display: flex;
    justify-content: center;
    gap:25px;
    height:100px;
    align-items: center;
}

.items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 350px));
    gap:15px;
    justify-items:center;
    align-items: center;
    justify-content: center;
    padding: 1px 25px 1px 25px;
    padding:20px;
    padding-top:4px;
    height: max-content;
    flex: 1;
  }

.item{
    height:300px;
    padding:5px;
    background-color: white;
}

.image{
    background-color: white;
    height:175px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-items-link{
    border-bottom: 2px solid black;
}

.cart-btn{
    border:none;
    background-color: white;
    border-radius: 20px;
    color: grey;
}

.item img {
    width:60%;
  }
  

.item h3{
    margin: 0;
}

.cart-btn:hover{
    background-color: grey;
    color:white;
}

h2:hover{
    font-size: 1.8rem;
}